@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Main BG */
  --background-color-main: var(--color-neutral-50);
  --background-color-main-subtle: var(--color-neutral-100);

  /* Neutral colors */
  --background-color-neutral: var(--color-white);
  --background-color-neutral-weak: var(--color-neutral-50);
  --background-color-neutral-subtle: var(--color-neutral-100);
  --background-color-neutral-strong: var(--color-neutral-200);
  --background-color-neutral-inverse: var(--color-neutral-900);

  --text-color-neutral: var(--color-neutral-700);
  --text-color-neutral-subtle: var(--color-neutral-500);
  --text-color-neutral-weak: var(--color-neutral-400);
  --text-color-neutral-inverse: var(--color-white);
  --text-color-neutral-inverse-subtle: var(--color-neutral-300);

  --border-color-neutral: var(--color-neutral-200);
  --border-color-neutral-subtle: var(--color-neutral-100);
  --border-color-neutral-strong: var(--color-neutral-950);

  --ring-color-neutral: var(--color-neutral-200);
  --ring-color-neutral-subtle: var(--color-neutral-100);
  --ring-color-neutral-strong: var(--color-neutral-950);

  /* Accent colors */
  --background-color-accent: var(--color-red-500);
  --background-color-accent-subtle: var(--color-red-200);

  --text-color-accent: var(--color-red-500);

  /* Calendar specific colors */
  --background-color-cal-weekend: var(--color-neutral-100);
  --background-color-cal-border: rgba(0, 0, 0, 0.04);
}

.dark {
  /* Main BG */
  --background-color-main: var(--color-neutral-900);
  --background-color-main-subtle: var(--color-neutral-800);

  /* Neutral colors */
  --background-color-neutral: var(--color-neutral-800);
  --background-color-neutral-weak: var(--color-neutral-900);
  --background-color-neutral-subtle: var(--color-neutral-800);
  --background-color-neutral-strong: var(--color-neutral-700);
  --background-color-neutral-inverse: var(--color-neutral-200);

  --text-color-neutral: var(--color-neutral-300);
  --text-color-neutral-subtle: var(--color-neutral-400);
  --text-color-neutral-weak: var(--color-neutral-500);
  --text-color-neutral-inverse: var(--color-black);
  --text-color-neutral-inverse-subtle: var(--color-neutral-700);

  --border-color-neutral: var(--color-neutral-800);
  --border-color-neutral-subtle: var(--color-neutral-900);
  --border-color-neutral-strong: var(--color-neutral-50);

  --ring-color-neutral: var(--color-neutral-800);
  --ring-color-neutral-subtle: var(--color-neutral-900);
  --ring-color-neutral-strong: var(--color-neutral-50);

  /* Accent colors */
  --background-color-accent: var(--color-red-500);
  --background-color-accent-subtle: var(--color-red-900);
  --text-color-accent: var(--color-red-500);

  /* Calendar specific colors */
  --background-color-cal-weekend: rgba(0, 0, 0, 0.35);
  --background-color-cal-border: rgba(255, 255, 255, 0.04);
}

@theme inline {
  --font-satoshi: var(--font-satoshi);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Main BG */
  --background-color-main: var(--background-color-main);
  --background-color-main-subtle: var(--background-color-main-subtle);

  /* Neutral colors */
  --background-color-neutral: var(--background-color-neutral);
  --background-color-neutral-weak: var(--background-color-neutral-weak);
  --background-color-neutral-subtle: var(--background-color-neutral-subtle);
  --background-color-neutral-strong: var(--background-color-neutral-strong);
  --background-color-neutral-inverse: var(--background-color-neutral-inverse);

  --text-color-neutral: var(--text-color-neutral);
  --text-color-neutral-subtle: var(--text-color-neutral-subtle);
  --text-color-neutral-weak: var(--text-color-neutral-weak);
  --text-color-neutral-inverse: var(--text-color-neutral-inverse);
  --text-color-neutral-inverse-subtle: var(--text-color-neutral-inverse-subtle);

  --border-color-neutral: var(--border-color-neutral);
  --border-color-neutral-subtle: var(--border-color-neutral-subtle);
  --border-color-neutral-strong: var(--border-color-neutral-strong);

  --ring-color-neutral: var(--ring-color-neutral);
  --ring-color-neutral-subtle: var(--ring-color-neutral-subtle);
  --ring-color-neutral-strong: var(--ring-color-neutral-strong);

  /* Accent colors */
  --background-color-accent: var(--background-color-accent);
  --background-color-accent-subtle: var(--background-color-accent-subtle);
  --text-color-accent: var(--text-color-accent);

  /* Calendar specific colors */
  --background-color-cal-weekend: var(--background-color-cal-weekend);
  --background-color-cal-border: var(--background-color-cal-border);
}

@layer base {
  * {
    @apply border-neutral;
  }
  body {
    @apply bg-neutral text-neutral;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  position: relative;
  overflow: hidden;
}

.animate-shimmer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(166, 160, 155, 0.2),
    transparent
  );
  animation: shimmer 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.84) infinite;
  will-change: transform;
}

.dark .animate-shimmer::after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(115, 115, 115, 0.35),
    transparent
  );
}
